.top-level-box {
    padding: 12px 8px;
}

textview, .message_label, response {
    font-size: 8pt;
    padding: 0.5em;
    background-color: shade(@theme_bg_color, 0.85);
}

button {
    font-size: 8pt;
}

/* textview { */
/*     /* font-size: small; */ */
/*     padding: 0.5em; */
/* } */

/* .response_label { */
/* } */

/* scrolledwindow {
    height: 10em;
} */
