.top-level-box {
    padding: 12px 8px;
}

.popup-window {
    padding: 10px;
    background-color: @theme_bg_color;
}

.button-box {
    background-color: shade(@theme_bg_color, 0.85);
}

textview, .message-label, .response {
    font-size: 8pt;
    padding: 0.5em;
    padding-right: 0;
    background-color: shade(@theme_bg_color, 0.85);
}

.api-key-list {
    font-size: 7pt;
}

.settings-box {
    font-size: 8pt;
}

.title {
    font-size: 10pt;
}

.error-label {
    font-size: 8pt;
    color: red;
}

button {
    padding: 8px;
    font-size: 8pt;
}

.exchange_header {
    padding: 0px 3px;
    background-color: shade(@theme_bg_color, 0.85);
}

.close_button {
    padding: 0 0;
    font-size: 6pt;
}